@import '../../sass/variables.scss';
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  font-family: 'Poppins';
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.151);
}
nav{
  display: flex;
  gap: 40px;
}
.links-header{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  color: aliceblue;
  &:hover{
    color: $color-hover;
  }
  &:hover::after{
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.4s;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: $color-hover;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
  }
}

.active{
  color: $color-hover;
}
.menu{
  color: white;
  font-size: 30px;
}
.logo{
  object-fit: cover;
  height: 120px;
}