@import '../../sass/variables.scss';

.home{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero{
  font-family: 'Poppins';
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 20px;
  h1{
    font-size: 40px;
    line-height: 45px;
  }
  span{
    color: $color-hover;
  }
  p{
    font-size: 20px;
  }
}

.card-img{
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  gap: 50px;
}
.card-img-min{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  
}
.planet-img{
  object-fit: contain;

  width: 500px;

}
.card-info{
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
  
}
.content{
  p{
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
  }
}
.card-title{
  font-family: 'Poppins';
  color: white;
  font-size: 20px;
}
.btn-card{
  padding: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-family: 'Poppins';
  width: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s;
  &:hover{
    background-color: white;
    color: black;
  }
}
.reverse{
  flex-wrap: wrap-reverse;
}
@media(min-width:1758px){
  .planet-img{
    width: 1000px;
  }
}
@media(max-width:920px){
  .card-info{
    width: 100%;
  }
  .card-img-min{
    justify-content: center;
    align-items: center;
  }
  .card-img-min{
    gap: 40px;
  }
}
@media(max-width:520px){
  .planet-img{
    width: 300px;
  }
}