@import '../../sass/variables.scss';
.side-bar{
  width: 260px;
  background-color: $light-black;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 50px;
}
.to-go-out{
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
  .icon-out{
    font-size: 25px;
    cursor: pointer;
    color: white ;
  }
}
.links-side-bar{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.link-side-bar{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  position: relative;
  &:hover{
    color: $color-hover;
  }
  &:hover::after{
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.4s;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: $color-hover;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
  }
}
.back{
  position: absolute;
  background-color: #000;
  z-index: 1;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
}
.hide{
  display: none;
}
.active{
  color: $color-hover;
}