@import '../../sass/variables.scss';

footer{
  background-color: rgb(255, 0, 0);
  height:100% ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 90px;
  font-family: 'Poppins';
  align-items: center;
  background-color: rgb(22, 22, 22);
}
.links-footer-div{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  

}
.link-footer{
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: white;
  position: relative;
  color: aliceblue;
  &:hover{
    color: $color-hover
  }
  &:hover::after{
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.4s;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: $color-hover;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
  }
}

.div-icons-footer{
  display: flex;
  gap: 20px;
}
.icons-footer{
  font-size: 25px;
  color: white;
  transition: all 0.4s;
  
  &:hover{
    scale: 1.2;
    color: $color-hover;
    cursor: pointer;
  }
}

@media(max-width:500px){
  .links-footer-div{
    flex-direction: column;
    gap: 10px;
  }
}
